
@{
    Layout = "~/Areas/AdGetOn/Views/Shared/Layout.cshtml";
}


<div class="container" style="margin-top:100px">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 border rounded-0">
            <form class="m-3" action="@Url.Action("changePasswordAdminSubmit","AdGetOn")" method="get">
                <div class="form-group">
                    <label for="exampleInputPassword1">Hazırki Şifrə</label>
                    <input type="password" name="currentPassword" @*required*@ maxlength="15" class="form-control" id="exampleInputPassword1" placeholder="Hal-hazırki şifrəni daxil et">
                    <p class="text-danger">@TempData["wrongOldPassword"]</p>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">Yeni Şifrə</label>
                    <input type="password" name="newPassword" @*required*@ maxlength="15" class="form-control" id="exampleInputPassword2" placeholder="Yeni şifrəni daxil et">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword3">Yeni Şifrəni Təsdiqlə</label>
                    <input type="password" name="confirmNewPassword" @*required*@ maxlength="15" class="form-control" id="exampleInputPassword3" placeholder="Yeni şifrəni təsdiq et">
                    <p class="text-danger">@TempData["wrongConfirmNewPassword"]</p>
                </div>
                <button type="submit" class="btn btn-primary">Şifrəni Dəyiş</button>
            </form>
        </div>
    </div>
</div>
