
@{
    Layout = null;
}

<div class="noti-wrap">

    @Html.Action("messageIcon", "Admin")
    @*@Html.Action("~/Areas/AdGetOn/Views/Admin/messageIcon.cshtml", "Admin")*@

    @Html.Action("notificationIcon", "Admin")
</div>
