
@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="product-img1 mt-1 shadow product-images">
                <h3><span class="badge badge-danger badge-lg">New</span></h3>
                <img class="w-100 h-100" src="~/Template/Dishes Images/IMG_6262.JPG">
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="product-img2 mt-1 shadow product-images">
                <h3><span class="badge badge-danger badge-lg ">New</span></h3>
                <img class="w-100 h-100" src="~/Template/Dishes Images/IMG_6327.JPG" alt="">
            </div>
        </div>
    </div>
</div>