


<section class="my-account-part mt-5">
    <div class="container">
        <div class="row title-part">
            <div class="col-md-12 col-xl-12 col-lg-12 col-xs-12  text-center forTitle">
                <span style="font-size: 30px" class="font-weight-bold">SƏNİN HESABIN</span>
            </div>
        </div>
        <div class="row text-center text-uppercase mt-5">
            <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12 into-col info-col mt-2 shadow-sm">
                <a href="@Url.Action("infoPartMyAccount","Home")">
                    <p><i class="fas fa-user-circle"></i></p>
                    <span>Melumatlar</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12 into-col add-adress mt-2 shadow-sm">
                <a href="@Url.Action("addAdressToAccount","Home")">
                    <p><i class="fas fa-map-marker-alt"></i></p>
                    <span>Adress Elavə Et</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12 into-col order-history-details mt-2 shadow-sm">
                <a href="@Url.Action("orderHistory","Home")">
                    <p><i class="far fa-calendar-alt"></i></p>
                    <span>Sifariş Təqvim</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12 into-col credit-slips mt-2 shadow-sm">
                <a href="#">
                    <p><i class="fas fa-clipboard-list"></i></i></p>
                    <span>Kredit Fişləri</span>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12 into-col wishList mt-2 shadow-sm">
                <a href="@Url.Action("myWishList","additionalActions")">
                    <p><i class="fas fa-heart"></i></p>
                    <span> istək siyahısı</span>
                </a>
            </div>
        </div>
        <div class="row mt-5 sign-out-col justify-content-center text-uppercase">
            <a href="#" class="btn btn-md sign-out btn-dark shadow rounded-0"><span>Sign Out</span></a>
        </div>
    </div>
</section>

<section class="carouselForCompany mt-5">
    <div class="container  mt-5">
        <div class="row">
            <div class="owl-carousel">
                <div><img src="~/Template/img/Companies/1.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/2.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/3.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/4.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/5.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/1.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/3.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/5.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script src="~/Template/js/myAccount-js.js"></script>

}