
<div class="row">
    <div class="col-md-12 col-lg-9">
        <form method="get" action="@Url.Action("clickSearchButton","Search")">
            <div class="input-group input-group-color">
                <input name="content" id="search-input" value="@TempData["searchContent"]" type="text" class="form-control search-input"
                       aria-label="Amount (to the nearest dollar)" style="border-radius: 20px !important;" placeholder="Axtarın">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-sm form-control"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="shopping-icon-col col-md-12 col-lg-3 dropdown dropleft dropdown-for-icon-measure">

        @Html.Action("shopIcon", "additionalActions")
    </div>
</div>

@section scripys{
    <script>

    </script>
}
